body {
  background-color: #fff;
  font-family: 'Cabin', sans-serif;
}

.mainNav {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #C75C5C;
  /*font-size: 1.5em;*/
}



.navbar-text {
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
}
#nameSpot {
  font-size: 3em;
}

.navJotLogo {
  width: 70px;
  margin-right: 1em;
  margin-top: .6em;
}

/********************************
***** Dashboard Container********
********************************/
.container {
  background-color: #D9BFA6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/*controls width of jot logo */
.welcomeDash {
  width: 100px;
  /*margin-right: 35%;*/
}

.welcomeDash .jotLogo {
  width: 100%;
  margin-left: 10%;
  /*width: 200px;*/
}

/********************************
***** Calendar Container********
********************************/
.boxCal {
  margin-top: .25em;
}

.calThumb {
  padding-top:  1em;
}

.calCaption {
  background-color: #D9BFA6;
}

#calendar {
  margin-top: .1em;
  padding-top: 0;
  width: 100%;
  height: 100%;
}

#label {
  width: 100%;
  height: 100%;
}

#next {
  width: 100%;
  height: 100%;
}

#calGrid {
  width: 100%;
  height: 100%;
}

#weekdays {
  width: 100%;
  height: 100%;
}

.curr {
  width: 100%;
}

/********************************
***** Bookings Style********
********************************/
.boxForBookings {
  /*margin-left: 2em;*/
  border-radius: 25px;
  max-width: 450px;
  min-width: 250px;
  height: auto;
  padding: 2%;
  background-color:#F5F0EB;
}

#upcomingBookings ul {
  list-style: none;
  padding-top: 2%;
}

.list-group .bookingListText {
  font-size: .95em;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.1px;
}

#upcomingBookings p {
  margin-left: 3.5em;

}

.editBookingButton {
  background-color: #E09A5E;
}
/********************************
***** KidList Style********
********************************/
.kidBox {
  margin-top: .1em;
  padding-top: .3em;
}

#addKid {
  background-color: #E09A5E;
}


/*The div that the list of kids is in*/
#styleforKidList {
  border-radius: 25px;
  margin-right: 1em;
  max-width: 450px;
  min-width: 250px;
  height:   auto;
  padding: 2%;
  background-color: #F5F0EB;
}

/*The names in white box inside #styleforKidList */
.list-group-item {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  font-size: 1.25em;
}

h3 {
font-family: 'Cabin', sans-serif;
text-align: center;
}

/*the little edit icon on edit kids*/
.editIcon {
  width: 2em;
  padding: 2%;
}

/********************************
***** Media Querry Style********
********************************/
@media only screen
and (max-device-width: 700px) {
  #styleforKidList {
    margin-left: 0;
    min-width: 250;

  }
  .list-group-item {
    max-width: 100%;
    margin-bottom: 1em;
    font-size: .8em;
    }

    #upcomingBookings li {
    font-size: .9em;
    }
    .welcomeDash {
      width: 100%;
      padding-bottom: 1em;
      /*margin-right: 35%;*/
    }

    .welcomeDash .jotLogo {
      width: 100%;
      margin-left: 0%;
      /*width: 200px;*/
    }

}
