body {
  background-color: #F5F0EB;
  font-family: 'Cabin', sans-serif;
}

/********************************
***** Dashboard Container********
********************************/

.containerDash {
  border-radius: 25px;
  background-color: #fff;
  padding:3em;
  margin: 2em;
  /*position: relative;*/
}

/*controls width of jot logo */
.welcomeDash {
  width: 200px;
  /*margin-right: 35%;*/
  position: fixed;
}

.jotLogo {
  width: 100%;
}

/********************************
***** Calendar Container********
********************************/

input[type=submit] {
  font-size: 2em;
  border-radius: 35px;
}

/********************************
***** Bookings Style********
********************************/
.boxForBookings {
  border-radius: 25px;
  width: 400px;
  padding: 2%;
  background-color:#F5F0EB;
}







/********************************
***** KidList Style********
********************************/

/*The div that the list of kids is in*/
#styleforKidList {
  border-radius: 25px;
  width: 400px;;
  padding: 2%;
  background-color: #F5F0EB;
}

/*The names in white box inside #styleforKidList */
.list-group-item {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  font-size: 1.25em;
}

h3 {
font-family: 'Cabin', sans-serif;
text-align: center;
}

/*the little edit icon on edit kids*/
.editIcon {
  width: 2em;
  padding: 2%;
}
