body {
font-family: 'Cabin', sans-serif;
background-color:#fff;
}

/********************************
*****Background Image Area *****
********************************/
.jumbotron {
  max-width: 3000px;
  background-color: #D9BFA6;
}

#heroImage {
  margin: .25em;
  padding: .25em;
  width:  100%;
  border-radius: 15px;
}


/********************************
*********Register Modal *********
********************************/

#myModal {
font-family: 'Patrick Hand SC', sans-serif;
}

#myModal p {
  font-family: 'Patrick Hand SC', sans-serif;
}

#myModal .form-group {
  max-width: 250px;
  margin: 1em auto;
}

#myModal h2 {
  font-weight: bolder;
}
