body {
  /*background-color: #477599;*/
  background-color:#fff;

}
.connectLayers {
  position: relative
}

#bigPicture  {
  z-index: 100;
  margin: -1em;
  padding: 0;
  position: absolute;  /*this keeps the login on top of the image*/
}

#bigPicture {
  width: 25%;
}

li a{
  font-family: 'Nixie One', sans-serif;
  /*font-family: 'Patrick Hand SC', cursive;*/
  /*font-size: 2.25em;*/
  font-size: 1.25em;
  padding: 1.5em;
  color: #245799;
  margin-top: -1em;
  margin-right: .5em;
}


.boxForLogin {
     /*border-radius: 25px;
     width: 50%;
     padding: 2%;*/
     /*border: 25px solid navy;*/
     /*margin: auto;
     background-color:#F5F0EB;
     position: absolute;
     top: 45%;
     left:25%;
     z-index: 5000;*/
}

#jotLogoLogin {
  max-width: 45%;
  padding: 0 0 2em;
  margin: 0 25%;
}

.welcomeDash {
  width: 100%;
}

#local .btn {
  color: white;
  margin: 0% 20% 5%;
}

.wrapper {
  font-family: 'Nixie One', sans-serif;
  border-radius: 25px 25px;
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #5C8F99;
  border-radius: 25px;
  z-index:5000;
}

.form-signin {
  border-radius: 25px;
  max-width: 380px;
  padding: 35px 35px 45px;
  margin 0 auto;
  background-color: #5C8F99;
  z-index: 5000;
}

p {
  font-family: 'Nixie One', sans-serif;
  color: #245799;
  text-align: center;
  margin-bottom: -1em;
  font-size: 1.25em;
}

.noShowText {
  display: none;
}

.showText {
  font-size: 1em;
}

/******************************
*********Register Modal ********/

#myModal {
  font-family: 'Nixie One', sans-serif;
}

#myModal p {
  font-family: 'Nixie One', sans-serif;
}

#myModal .form-group {
  max-width: 250px;
  margin: 1em auto;
}

#myModal h2 {
  font-weight: bolder;
}
