<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jot</title>
  <link rel="icon" type="image/png" href="images/jotFavicon.png"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Finally a simple, intuitive scheduling app for small businesses and organizations.">
  <meta name="keywords" content="scheduling, appointments, small business, quick, easy, intuitive">
  <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
  <script src="/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
  <link href="stylesheets/staticStyles.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container">
    <div class="row">
     <div class="navbar navbar-fixed-top" id="topNav" role="navigation">
          <!-- this is the hamburger collapse menu -->
           <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="colorLink" href="#">How it Works</a></li>
<<<<<<< HEAD
=======

>>>>>>> master
          </ul>

          <ul class="nav navbar-nav navbar-right navStyle ">
<<<<<<< HEAD

            {{#if user}}
            <li><a class="colorLink" id="storyToDash" href="/" class="navbar-text">Back to Dash</a></li>
            {{else}}
            <li><a class="colorLink" id="storyToLogin" href="/signin" class="navbar-text">Log In</a></li>
            {{/if}}
=======
            <li><a href="/signin">Sign In</a></li>
>>>>>>> master
          </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12 col-lg-6 teamBoxes">
          <div class="textBox">
            <img src="images/wendyPicCrop.jpg" alt="Wendy Hiking">
            <h3>Wendy Goodwin</h3>
            <h4>CoFounder</h4>
            <p> Wendy is passionate about developing tools for small businesses that have an intuitive and delightful user experience.  She is currently using her software development skills in the nonprofit sector.  When not coding, Wendy can be found writing and performing music on her violin or adventuring in the Pacific Northwest and beyond with her family.
          </p>
          </div>
        </div>
          <div class="col-xs-12 col-lg-6 teamBoxes">
          <div class="textBox">
            <img src="images/joeypony.jpg" alt="Natalie Horse">
            <h3>Natalie Ogle</h3>
            <h4>CoFounder</h4>
            <p> After learning SQL and realizing a career in programming is possible without a CS degree, Natalie dove head first into learning how to code and hasn’t looked back!  She has always enjoyed exercising her creative muscles and loves problem solving. In her free time, Natalie enjoys riding her horse, interior design, and obsessing over cats.
          </p>
          </div>
        </div>
    </div>
  </div>
    </div>
</div>

  <!-- </div> -->

<footer>
  <p class='copyright'>&copy;2015 Ogle &amp; Goodwin </p>
</footer>
<!-- </div>
</body> -->
