.dayDiv {
  position: relative;
  font-size: 3.7vmin;
}

a:hover {
  background-color: none;
}

#bookingModalBody {
  position: relative;
  z-index: 5000;
}

.modalContent {
  position: relative;
  z-index: 5000;
}

td {
  position: relative;
  z-index: 200;
}

.bookingDay {
  color: white !important;
  background-image: url("../images/jotBall.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 50% !important;
}

.bookingDay:hover {
  background-color: #CD310D !important;
  background-image: url("../images/jotBall.png");
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 50% !important;
  opacity: 0.8;
}

#calendar {
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3xp 3px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  font: 1.25em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;

  display: table;
}

#calendar .calHeader {
  cursor: default;
  background: #77B3D4;
  height: 64px;
  position: relative;
  color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 2.65em;
  font-weight: normal;
  /*text-shadow: 0px -1px 0 #87260C;*/
  padding-bottom: .5%;
}

#calendar .calHeader span {
  display: inline-block;
  line-height: 64px;
}

/*This is the Month Label*/
#calendar .calHeader .button {
  text-align: center;
  position: absolute;
}

#calendar .calHeader .left.button {
  width: 10%;
  left: 0;
  border-top-left-radius: 5px;
}

#calendar .calHeader .right.button {
  width: 10%;
  right:0;
    top:0;
    border-top-right-radius: 5px;
}

#calendar .calHeader .button:hover {
  background: -moz-linear-gradient(top, #C75C5C, #bb330f);
  background: -webkit-gradient(linear, left top, left bottom, from(#C75C5C), to(#bb330f));
}

#calendar .calHeader .month-year {
  letter-spacing: 1.5px;
  width: 100%;
  text-align: center;
}

#calendar table {
  border-collapse: collapse;
}

/*This centers the numbers on the calendar*/
#calendar td {
  color:#2b2b2b;
    width:90px;
    height:90px;
    line-height:90px;
    text-align:center;
    /*border:1px solid #fff;*/
    cursor:default;
}

#calendar #calGrid td.today {
  background: #77B3D4;
  opacity: 0.8;
}

.blockOut {
   background:#D3D3D3;
    box-shadow:1px 1px 0px #fff inset;
    -moz-box-shadow:1px 1px 0px #fff inset;
    -webkit-box-shadow:1px 1px 0px #fff inset;
}

#calendar #calGrid td:not(.nil):hover {
  color:#fff;
    text-shadow: #6C1A07 0px -1px;
    background:#CD310D;
    background: -moz-linear-gradient(top, #C75C5C, #cd310d);
    background: -webkit-gradient(linear, left top, left bottom, from(#C75C5C), to(#cd310d));
    -moz-box-shadow:0px 0px 0px;
    -webkit-box-shadow:0px 0px 0px;
}

#calendar #calGrid td span {
  font-size: 80%;
  position: relative;
}

#calendar #calGrid td span:first-child {
  bottom: 5px;
}

#calendar #calGrid td span:last-child {
  top:5px;
}

#calendar #calGrid table.curr {
  float: left;
}
#calendar #calGrid table.temp {
  position: absolute;
}
/********************************
*****Media Query Area *****
********************************/


@media only screen
and (max-device-width: 700px) {

  #calendar .header span {

  }

  #calendar .calHeader .button {
    width: 24px;
    text-align: center;
    position: absolute;
  }

  #calendar .calHeader .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }

  #calendar td {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  #calendar .calHeader span {
    display: inline-block;
    line-height: 50x;
  }

  #calendar .calHeader {
    font-size: 8vmin;
  }

}
