
body {
font-family: 'Cabin', sans-serif;
font-size: 1.5em;
background-color:#fff;
}

/********************************
*****Background Image Area *****
********************************/
.jumbotron {
  max-width: 3000px;
  background-color: #D9BFA6;
  position: absolute;
  margin: 0;
  padding-top: 0px;
}

#heroImage {
  margin-top: 1em;
  margin-bottom: .25em;
  margin-left: .25em;
  margin-right: .25em;
  padding: .5em;
  width:  100%;
  border-radius: 15px;
  position: relative;
  z-index: 100;
}

.jotLogo {
  width: 80px;
  position: relative;
  z-index: 5500;
  padding: 0;
  display: block;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
}


/********************************
*********Login Form *********
********************************/
.wrapper {
  border-radius: 25px 25px;
  max-width: 400px;
  min-width: 300px;
  padding: 2em;
  background-color: #B8B8B8;
  opacity: 0.85;
  border-radius: 25px;
  z-index:5000;
  position: relative;
  margin:  auto ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.jotLogoNav {
  width: 80px;
  position: relative;
  z-index: 5500;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .25em;
}

.loginBtn {
  border: none;
  background-color: #0C3D6E;
}

#local .newAccountLink {
  text-decoration: none;
}

/********************************
*********Register Modal *********
********************************/

#myModal .modal-content {
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
  width: 500px;
  margin: 0 auto;
}

#myModal {
  z-index: 6000;
}

#myModal .form-group {
  max-width: 250px;
  margin: 1em auto;
}

#myModal h2 {
  font-weight: bolder;
}

#myModal .modal-body {
  background-color: #DBDBDB;
}

#myModal .modal-header {
  background-color: #77B3D4;
  border: none;
  -webkit-border-radius: 25px 25px 0px 0px!important;
  -moz-border-radius: 25px 25px 0px 0px!important;
  border-radius: 25px 25px 0px 0px !important;
}

#myModal .modal-footer {
  border: none;
}

#jotLogoLogin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}



/********************************
*********Media Query*********
********************************/

@media only screen
and (min-device-width: 300px)
and (max-device-width: 675px)
and (-webkit-min-device-pixel-ratio: 2) {

body {
background-color:  #B8B8B8;
}

.jumbotron {
    margin: 0;
    padding: .5em;
    background-color: #D9BFA6;
    position: relative;
    z-index: 5000;
}

  #heroImage {
    margin: .10em;
    padding: .05em;
    width:  100%;
    border-radius: 15px;
    position: relative;
    z-index: 100;
  }

.wrapper {
    padding-top: .5em;
    opacity: 1;
    margin-top: 0;
    max-width: 250px;
  }

.jotLogo {
    width: 60px;
    margin-bottom: .2em;
}
