.textBox img {
  border: none;
  display: block;
  margin: 10px auto;
  max-width: 300px;
  height: auto;
  border-radius: 25px;
  border-style: solid;
  border-color: #F5F0EB;
}

.jumbotron {
background-color: #D9BFA6;
}

.textBox {
  margin-top: 2em;
  background-color: #C75C5C;
  padding: .5em;
  border-radius: 25px;
  border-style: solid;
  border-color: #F5F0EB;
}


h3 {
  margin-top: 1em;
  text-align: center;
}

h4 {
  text-align: center;
}


/********************************
***** Media Query Style********
********************************/


@media only screen
and (max-device-width: 700px) {
  .textBox img {
    max-width: 225px;
  }
 .textBox p {
   font-size: 18px;
 }

}
