<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User Dashboard</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" href="/stylesheets/calendarStyle.css" media="screen">
</head>
<body>

<div id="calendar">
	<div id="bookingNotification"></div>
  <div class="calHeader">
    <span class="left button" id="prev">&lang;</span>
    <span class="month-year" id="label"> </span>
    <span class="right button" id="next"> &rang; </span>
  </div>
  <table id ="weekdays"></table>
  <div id="calGrid">
    <table class="curr">
   </table>
 </div>
</div>
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/backbone/backbone-min.js"></script>

<script type="text/javascript" src="javascripts/calendar.js"></script>
<script type="text/javascript" src="javascripts/calendarViews.js"></script>
<script type="text/javascript" src="javascripts/bookingViews.js"></script>
<script type="text/javascript" src="javascripts/kidViews.js"></script>
<script type="text/javascript" src="javascripts/dashboardViews.js"></script>
<script type="text/javascript" src="javascripts/models.js"></script>
<script type="text/javascript" src="javascripts/collections.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>

	<script>
		var calendar = Calendar();
		calendar.init();
  	calendar.createDays();
		var currentUser = "{{user.username}}";
	</script>

</body>
</html>
