<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User Dashboard</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" href="/stylesheets/calendarStyle.css" media="screen">
</head>
<body>

<div id="calendar">
	<div id="bookingNotification"></div>
  <div class="calHeader">
    <span class="left button" id="prev">&lang;</span>
    <span class="month-year" id="label"> </span>
    <span class="right button" id="next"> &rang; </span>
  </div>
  <table id ="weekdays"></table>
  <div id="calGrid">
    <table class="curr">
   </table>
 </div>
</div>
<script type="text/javascript">
    window.currentUser = "{{user.username}}";
</script>
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/underscore/underscore-min.js"></script>
<script type="text/javascript" src="javascripts/build/bundle.js"></script>
<script>
    var calendar = window.Calendar();
    calendar.init();
    calendar.createDays();
</script>

</body>
</html>
