<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jot</title>
  <link rel="icon" type="image/png" href="images/jotFavicon.png"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Finally a simple, intuitive scheduling app for small businesses and organizations.">
  <meta name="keywords" content="scheduling, appointments, small business, quick, easy, intuitive">
  <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script> -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
  <link href="stylesheets/jotStyles.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container">
    <div class="row">
     <div class="navbar navbar-fixed-top" id="topNav" role="navigation">
          <!-- this is the hamburger collapse menu -->
           <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">How it Works</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navStyle ">
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-4 col-lg-4 col-lg-offset-4">
<!-- Sign In Form-->
      <div class= "wrapper">
        <form id="local-sign-in" class= "form-signin" action="/login" method="post">
          <div class="logoInLogin">
            <img src="images/jotLogoWebLarge.png" id= "jotLogoLogin" alt="backgroundImage">
          </div>
          <!-- <h1 class="form-signin-heading">My Jot</h1> -->
          <div class="form-group">
            <label for="inputUsername" class='sr-only'>Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" name="username">
          </div>
          <div class="form-group">
            <label for="inputPassword" class='sr-only'>Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
          </div>
          <div class="form-group">
            <a href="/auth/facebook" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
          </div>
        </form>
        <div id="local">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">I don't have an account yet</button>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->


<!-- Modal/Pop-up for Signing Up -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Sign Up</h2>
      </div>
      <div class="modal-body">
        <form id="local-reg" action="/local-reg" method="post">
          <div class="row">
            <div class="form-group">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required="" autofocus="" name="email">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputFirstName" class="sr-only">First Name</label>
              <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required="" autofocus="" name="firstName">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputLastName" class="sr-only">Last Name</label>
              <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required="" autofocus="" name="lastName">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="radio-inline" >Allow Multiple Caregivers Access to my bookings?</label>
              <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
              <label class="radio-inline"><input type="radio" name="optradio">No</label>
              <!-- <div id="question">
                <a href="#"> What&rsquo;s this?</a>
            <div class="nowShowText" id = "textforFamily">
              <p>Choose yes to create family ID to share with other caregivers who will need to make reservations.<p>
            </div> -->

            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="inputUsername" class="sr-only">Create Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Create Username" required="" autofocus="" name="username">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Create Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Create Password" required="" name="password">
            </div>
          </div>
          <div class="row">
          <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
            </div>
        </div>
      </form>
      <div class="modal-footer">
        <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
      </div>
      </div>
      </div>
    </div>
  </div>

<footer>
      <p>&copy;2015 Ogle &amp; Goodwin </p>

</footer>
</div>
</body>
<script>
var currentUser = '';
</script>

<script>

$("question").click(function() {
  $('textforFamily').addClass('showText');
});

});

 </script>
