<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <div id="login">
    <form method="post" action="/">
      <h2>Log in</h2>
      <input name="username"></input>
      <input name="password"></input>
      <button type="submit">Log In</button>
    </form>
  </div>
  <h2>{{error}}</h2>
</body>
</html>
