
<!--Sign In Form-->
<div class= "container-fluid">
  <div class = "row">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      <form id="local-sign-in" class= "form-signin" action="/login" method="post">
        <h1 class="form-signin-heading">Sign In</h1>
        <div class="form-group">
          <label for="inputUsername" class='sr-only'>Username</label>
          <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" name="username">
        </div>
        <div class="form-group">
          <label for="inputPassword" class='sr-only'>Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
        </div>
        <div class="form-group">
          <a href="/auth/facebook" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
        </div>
      </form>
      <div id="local">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">I don't have an account yet</button>
      </div>
    </div>
    <div class="col-md-4"> </div>
  </div>
</div>

<!-- Modal/Pop-up for Signing Up -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form id="local-reg" action="/local-reg" method="post">
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <h1 class="form-signin-heading">Sign Up</h1>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required="" autofocus="" name="email">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <label for="inputFirstName" class="sr-only">First Name</label>
              <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required="" autofocus="" name="firstName">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <label for="inputLastName" class="sr-only">Last Name</label>
              <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required="" autofocus="" name="lastName">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <label for="inputUsername" class="sr-only">Create Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Create Username" required="" autofocus="" name="username">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <label for="inputPassword" class="sr-only">Create Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Create Password" required="" name="password">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
      </div>
    </div>
  </div>
</div>
