<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <title>{{user}}'s Dashboard</title>
</head>
<body>
  <h1>Welcome, {{user}}</h1>
  <form method="get" action="/users">
    <button type="submit">List Users</button>
  </form>
</body>
</html>
