<!--this script is needed to get rid of the '#_=_' hash that Facebook sends with the callback-->
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
</script>
{{#if user}}
  <div>
    <h1>Penciled In</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>First Name: {{user.firstName}}</p>
      <p>Last Name: {{user.lastName}}</p>
    </div>
    <form id= "seeCalendar" action = "/calendar" method="get"><input type="submit" value = "See Calendar"></form>
  </div>

{{else}}
  <div>
    <h1>Penciled In</h1>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        Sign in!
      </a>
    </p>
  </div>

{{/if}}
<script type="text/javascript" src="javascripts/views.js"></script>
<script type="text/javascript" src="javascripts/models.js"></script>
<script type="text/javascript" src="javascripts/collections.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/backbone/backbone-min.js"></script>
