
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script> -->

<!--this script is needed to get rid of the '#_=_' hash that Facebook sends with the callback-->
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
</script>
{{#if user}}
  <div>
    <h1>Penciled In</h1>
    <p>Below is your profile information!</p>
  </div>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="row">
        <div class="panel-body">
          <div class="col-xs-12 col-md-4">
          <p>Username: {{user.username}}</p>
          <p>First Name: {{user.firstName}}</p>
          <p>Last Name: {{user.lastName}}</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <div id="kidList">
              <h4>Enrolled Children</h4>
              <ul class="list-group">
                <li class="list-group-item">Vienna Goodwin</li>
                <li class="list-group-item">Breton Goodwin</li>
                <button type="button" class="list-group-item btn-danger" data-toggle="modal" data-target="#kidModal">Add a Child</button>
              </ul>

            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <span class="glyphicon glyphicon-calendar glyphicon-align-left" id="calendarIcon" aria-hidden="true"></span>
            <form id= "seeCalendar" action = "/calendar" method="get"><input type="submit" value = "See Calendar"></form>
            <!-- Button trigger modal -->

          </div>
        </div>
      </div>


    <!-- Modal -->
    <div class="modal fade" id="kidModal" tabindex="-1" role="dialog" aria-labelledby="kidModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <h4 class="modal-title" id="kidModalLabel">Add a Child</h4> -->
          </div>
          <div class="modal-body">
            <form id="kid-reg" class="kid-registration" action="/kid-reg" method="post">
              <div class="row">
                <div class="form-group col-md-6 col-md-offset-3">
                  <h1 class="form-signin-heading">Register a Child</h1>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4 col-md-offset-3">
                  <label for="kidFirstName" class="sr-only">Child First Name</label>
                  <input type="text" id="kidFirstName" class="form-control" placeholder="Child First Name" required="" autofocus="" name="kidFirstName">
                </div>
                <div class="form-group col-md-2">
                  <label for="kidsMidInitial" class="sr-only">MI</label>
                  <input type="text" id="kidMidInitial" class="form-control" placeholder="MI" required="" autofocus="" name="kidMidInitial">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-md-offset-3">
                  <label for="kidLastName" class="sr-only">Child Last Name</label>
                  <input type="text" id="kidLastName" class="form-control" placeholder="Child Last Name" required="" autofocus="" name="kidLastName">
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" type="submit">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add Another Child</button>
          </div>
        </div>
      </div>
    </div>

  </div>

{{else}}
  <div>
    <h1>Penciled In</h1>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        Sign in!
      </a>
    </p>
  </div>

{{/if}}
<script type="text/javascript" src="../public/javascripts/views.js"></script>
<script type="text/javascript" src="../public/javascripts/models.js"></script>
<script type="text/javascript" src="../public/javascripts/collections.js"></script>
<script type="text/javascript" src="../public/javascripts/main.js"></script>
