{{#if user}}
    <div>
        <h1>Penciled In</h1>

        <p>Below is your profile information!</p>
    </div>
    <div id="kidList" class="kidList"></div>
{{else}}
    <div>
        <h1>Penciled In</h1>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                Sign in!
            </a>
        </p>
    </div>
{{/if}}